section {
    padding: 20px;	
}

#cookieConsent {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 20px;
      text-align: center;
      font-size: 16px;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #cookieConsent div {
      background-color: #333;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }
    #cookieConsent p {
      margin: 0 0 10px;
    }
    #cookieConsent a {
      color: #fff;
      text-decoration: underline;
    }
#cookieConsent button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

#werke {
    padding: 20px;
	padding-top: 150px;
    text-align: center; 
}

.werke-ueberschrift {
    font-size: 4em; 
    text-align: center;
    background: linear-gradient(90deg, #FF69B4, #9B59B6, #FF1493); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation: gradient 4s linear infinite; 
    background-size: 200% 200%; 
    font-family: 'Pacifico', cursive; 
}

.werke-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    
}

.werk {
    width: calc(33.33% - 20px); 
    display: flex;
    justify-content: center; 
}

.kreis {
    width: 570px; 
    height: 300px; 
    border-radius: 50%; 
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    transition: transform 0.3s; 
    position: relative; 
}

.kreis:hover {
    transform: scale(1.1); 
    z-index: 1; 
}

.kreis img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
		
.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - env(safe-area-inset-top)); 
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-bottom: 20px; 
}

.modal-content {
    color: white;
    animation-name: zoom;
    animation-duration: 3s;
    padding: 20px;
    max-width: 90vw; 
    max-height: calc(100vh - 40px); 
    overflow-y: auto; 
    box-sizing: border-box;
	scrollbar-width: none; 
   
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal h3 {
    font-size: 32px;
    color: white; 
    padding-top: 20px; 
}

.modal p {
    color: white;
    font-size: 24px;
    line-height: 1.8;
    padding: 15px;
}

.hidden {
	display: none;
        }
		
.modal img {
    width: 55%; /* Standardmäßig 80% der Modal-Breite */
    max-width: 400px; /* Maximale Breite des Bildes */
    height: auto; /* Seitenverhältnis bleibt erhalten */
    margin: 20px 0; /* Abstand nach oben und unten */
    border: 2px solid white; /* Optional: Rahmen um das Bild */
    border-radius: 10px; /* Optional: Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: Schatteneffekt */
}

.close {
    position: absolute; 
    top: 20px; 
    right: 30px; 
    color: green;
    font-size: 35px; 
    font-weight: bold; 
    cursor: pointer;
}


@media (max-width: 768px) {
    .werke-ueberschrift {
        font-size: 3em; 
    }

    .werk {
        width: 100%; 
    }
	
    .kreis {
        width: 170%; 
		height: auto;
	}
	
    .modal p {
        font-size: 18px;
    }
		
	.kreis:hover {
        transform: none; 
		z-index: auto;
    }

    .kreis img {
        width: 170%; 
    }

    .close {
        font-size: 25px; 
    }
	
	.modal img {
		width: 80%;
		max-width: 800px; 
	}
}



