/* Allgemeine Stil-Einstellungen */
body {
    font-family: 'Roboto', sans-serif; /* Roboto als Schriftart */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 20px;
    font-family: 'Roboto', sans-serif; /* Roboto für den Header */
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
}


.documents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
}

.document {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    color: #666;
    margin-bottom: 15px;
}


.download-btn {
    display: inline-block;
    background-color: #3cb371;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif; 
}

.download-btn:hover {
    background-color: #98fb98;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsives Design */
@media (max-width: 768px) {
    .document {
        width: 90%;
        font-size: 16px;
    }

    .download-btn {
        font-size: 16px;
        padding: 10px 18px;
    }
}
