body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff7e33, #4CAF50); 
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-attachment: fixed; /* Fixiert den Hintergrund */
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background-color: #4CAF50;
	color: white;
    text-align: center;
    padding: 2px;
    position: fixed; 
    width: 100%;
    top: 0px;
    
}

nav {
    background-color: #333; 
    position: fixed; 
    width: 100%; 
    top: 80px; 
    padding: 8px 10px;
	
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
	justify-content: center;
}

nav ul li a {
    display: block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
	text-align: center;
}

nav ul li a:hover {
    background-color: #111; 
}

footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333; 
    color: white; 
    padding: 10px 20px; 
    width: 100%; 
    position: fixed; 
    bottom: 0;
    z-index: 10;
    box-sizing: border-box; 
}

.copyringt {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
}

.verlinkungen {
    margin-left: auto; 
    display: flex;
    gap: 15px; 
}

.linkedin-icon {
    width: 30px; 
    height: auto; 
    transition: transform 0.2s ease;
}

.linkedin-icon:hover {
    transform: scale(1.2); 
}

.youtube-icon {
    width: 40px; 
    height: auto;
    transition: transform 0.2s ease;
}

.youtube-icon:hover {
    transform: scale(1.2); 
}

.Audi_A2_Forum {
    width: 80px; 
    height: auto;
    transition: transform 0.2s ease;
}

.Audi_A2_Forum:hover {
    transform: scale(1.2); 
}

section {
    padding: 20px;
	
}


#werke {
    padding: 20px;
	padding-top: 150px;
    text-align: center; 
}

.werke-ueberschrift {
    font-size: 4em; 
    text-align: center;
    background: linear-gradient(90deg, #FF69B4, #9B59B6, #FF1493); /* Farbverlauf von hellem Pink über Lila zu dunklem Pink */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation: gradient 4s linear infinite; 
    background-size: 200% 200%; 
    font-family: 'Pacifico', cursive; 
}

/* Keyframes für die Gradient-Animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%;
    }
}

.werke-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    
}

.werk {
    width: calc(33.33% - 20px); 
    display: flex;
    justify-content: center; 
}

.kreis {
    width: 290px; 
    height: 290px; 
    border-radius: 10%; 
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    transition: transform 0.3s; 
	padding-bottom:40px;
}

.kreis:hover {
    transform: scale(1.1); 
    z-index: 1;
	
}

.kreis img {
    width: 200%; 
    height: auto; 
}
		
.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - env(safe-area-inset-top)); 
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-bottom: 20px; 
}

.modal-content {
    color: white;
    animation-name: zoom;
    animation-duration: 3s;
    padding: 20px;
    max-width: 90vw; 
    max-height: calc(100vh - 40px); 
    overflow-y: auto; 
    box-sizing: border-box;
	scrollbar-width: none; 
   
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal h3 {
    font-size: 32px;
    color: white; 
    padding-top: 20px; 
}

.modal p {
    color: white;
    font-size: 24px;
    line-height: 1.8;
    padding: 15px;
}

.hidden {
	display: none;
        }

.close {
    position: absolute; 
    top: 20px; 
    right: 30px; 
    color: green;
    font-size: 35px; 
    font-weight: bold; 
    cursor: pointer;
}


@media (max-width: 768px) {
    .werke-ueberschrift {
        font-size: 3em; 
    }

    .werk {
        width: 100%; 
    }

    nav ul li a {
        padding: 10px 8px; 
        font-size: 14px; 
    }
	
	.copyringt {
        position: absolute; 
        left: 0; 
        transform: none; 
        text-align: left; 
        padding-left: 10px; 
    }
	
	.linkedin-icon {
		width: 20px; 
		height: auto; 
		transition: transform 0.2s ease;
	}

	.youtube-icon {
		width: 25px; 
		height: auto;
		transition: transform 0.2s ease;
	}

	.Audi_A2_Forum {
		width: 40px; 
		height: auto;
		transition: transform 0.2s ease;
	}
	
    .kreis {
        width: 170%; 
		height: auto;
	}
	
    .modal p {
        font-size: 18px;
    }
		
	.kreis:hover {
        transform: none; 
		z-index: auto;
    }

    .kreis img {
        width: 170%; 
    }

    .close {
        font-size: 25px; 
    }
}




